/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vagrant
error_log
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
.vs
